ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: whitesmoke;
}

li {
    float: left;
    border-left: 1px solid #555;
}

li:first-child {
    border-left: none;
}

li a {
    display: block;
    color: #000;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: azure;
}

li a:hover {
    background-color: white;
    text-decoration: underline;
}