body, html {
    background-color: lightgray;
    display: grid;
    place-items: center;
}

.Numpad ul {
    list-style: none;

    margin: 0px;
    padding: 0px;

    text-align: center;
}

.Numpad button {
    background-color: white;
    border: 2px solid white;
    outline: 1px solid black;
    border-width: 2px;
    border-style: outset;
}

.Numpad {
    width: 120px;
    height: 100px;
    margin-top: 225px;

    background-color: darkgray;
    text-align: center;
}